DISCORD_BOT_TOKEN=COLLE_TON_BOT_TOKEN_ICI
APERCU_CHANNEL_ID=ID_DU_CANAL_APERCU_LIVE
RESUME_CHANNEL_ID=ID_DU_CANAL_RESUME_MEMBRES
STATUS_CHANNEL_ID=ID_DU_CANAL_LIVE_STATUS
LIVE_VOICE_CHANNEL_ID=ID_DU_SALON_VOCAL_LIVE
ADMIN_ROLE_ID=ID_DU_ROLE_ADMIN
PUSH_SECRET=MF2026FOCUS
CARD_API_URL=https://groupe-focus-card.vercel.app/api
CARD_URL=https://groupe-focus-card.vercel.app
JOIN_URL=https://focus-business.com
